*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# local ignores
backup_for_client
*.iml
*.xml
server/.idea
server/.gradle
server/build
server/out
server/logins.csv
client/build
client/.idea
client/.gradle
client/out
